[Unit]
Description=Gunicorn daemon for Pinte Fichas Backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/pinte-fichas/backend
Environment="PATH=/var/www/pinte-fichas/backend/venv/bin"
ExecStart=/var/www/pinte-fichas/backend/venv/bin/gunicorn \
          --workers 3 \
          --bind unix:/var/www/pinte-fichas/backend/gunicorn.sock \
          core.wsgi:application

[Install]
WantedBy=multi-user.target
